<% layout("./layouts/boilerplate") %>

<link rel="stylesheet" href="../public/home.css">

<div class="container-fluid">
    <div id="homepage" class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        <% for(let listing of listings){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/listing/<%= listing._id %>">
                    <div class="card cards" style="width: 100%;">
                        <img src="<%= listing.image %>" class="card-img-top" alt="image">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %> , <%= listing.country %></b><br>
                                &#x20B9; <%= listing.price %>/night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>
